<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand">Resume</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"
             routerLink="/about"
             routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page"
             routerLink="/experiences"
             routerLinkActive="active">Experiences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/technologies"
             routerLinkActive="active">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/projects"
             routerLinkActive="active">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/educations"
             routerLinkActive="active">Educations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/certifications"
             routerLinkActive="active">Certifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/contact"
             routerLinkActive="active">Contact</a>
        </li>
      </ul>
    </div>
    <!-- Add your photo and name on the right side -->
    <div class="navbar-text">
      <img src="./assets/profile_photo.png" alt="Your Photo" class="navbar-photo">
      <span class="navbar-name">Alexandre Bessard</span>
    </div>
  </div>
</nav>
