<div class="container-fluid">
  <div class="card border-light shadow-sm">
    <div class="card-body">
      <div class="profile">
        <p>
          These certifications underscore my dedication to remaining at the forefront of technological advancements and industry best practices.
        </p>
        <p>
          Through the investment in these certifications, I have not only acquired specialized knowledge but have also showcased my eagerness to contribute effectively to projects. This ensures that I am well-equipped to make an immediate impact on the success of your team.
        </p>
        <p>
          Feel free to click on any of these certifications to delve deeper into my expertise.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row text-white">
    <div class="col-3 p-2">
      <div class="d-grid gap-2">
        <button class="btn btn-outline-success" (click)="changeCategory()" [class.active]="!selectedCategory">
          All
        </button>
        <button *ngFor="let cat of categories" class="btn btn-outline-success" [class.active]="cat == selectedCategory"
                (click)="changeCategory(cat)">
          {{ cat }}
        </button>
      </div>
    </div>
    <div class="col-9 p-2 text-dark">
      <div *ngFor="let certs of certifications; let i = index" [ngClass]="{'odd-row': i % 2 !== 0}" class="card m-1 p-1">
        <a [href]="certs.url" target="_blank">
          <div class="row g-0">
            <div class="col-md-4">
              <img [src]="certs.image" alt="{{ certs.title }}" class="img-fluid">
            </div>
            <div class="col-md-8">
              <h5 class="text-dark" style="margin-top: 37px;">{{ certs.title }}</h5>
              <p class="position-absolute bottom-0 end-0 p-2" [class.text-danger]="certs.isExpired">
                {{ certs.isExpired ? 'Expired' : '' }}
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

