<div class="card border-light shadow-sm">
  <div class="d-flex justify-content-center align-items-center">
    <div class="card-body">
      <div class="profile">
        <div *ngIf="selectedProject$ | async; let project">
          <h1>Project Overview: "{{ project.name }}"</h1>
          <h4>Access the project by clicking on the link provided below:<br>
            <p><a href="{{project.githubUrlHosted}}" target="_blank">{{project.githubUrlHosted}}</a></p>
          </h4>
          <span class="contact-icon">
            <img src="assets/contact/github.svg" alt="Github Icon">
          </span>
          <div class="contact-info">
            <strong>GitHub:</strong>
            <p><a href="{{project.gitUrl}}" target="_blank">{{project.gitUrl}}</a></p>
          </div>
          <br>
          <div [innerHTML]="sanitizeHtml(project.detail.description)"></div>
        </div>
        <button (click)="goBackToProject()"
                style="margin-top: 20px;"
                class="btn btn-outline-success">Previous page</button>
      </div>
    </div>
  </div>
</div>
