<div class="card border-light shadow-sm" style="margin-bottom: 10px" xmlns="http://www.w3.org/1999/html">
  <div class="d-flex justify-content-center align-items-center">
    <div class="card-body">
      <div class="profile">
        <p>Here, you can explore in more details by clicking on a project, a variety of projects
          created with care and innovation.<br><br> Stay tuned, as more exciting projects will
          be added in the coming weeks.<br><br> I am continuously working on bringing you new and diverse
          content to showcase my skills and passion for development.<br><br>
          Keep an eye out for what's to come!</p>
      </div>
    </div>
  </div>
</div>
<app-projects-list></app-projects-list>
