<div class="contact-container">
  <div class="contact-method">
    <span class="contact-icon">
          <img src="assets/contact/linkedIn.svg" alt="LinkedIn Icon">
    </span>
    <div class="contact-info">
      <strong>LinkedIn:</strong>
      <p><a href="https://www.linkedin.com/in/your-profile" target="_blank">Your LinkedIn Profile</a></p>
    </div>
  </div>

  <div class="contact-method">
    <span class="contact-icon">
      <img src="assets/contact/email.svg" alt="Email Icon">
    </span>
    <div class="contact-info">
      <strong>Email:</strong>
      <p><a href="mailto:alexandre.bessard@gmail.com">alexandre.bessard&amp;#64;gmail.com</a></p>
    </div>
  </div>

  <div class="contact-method">
    <span class="contact-icon">
      <img src="assets/contact/github.svg" alt="Github Icon">
    </span>
    <div class="contact-info">
      <strong>GitHub:</strong>
      <p><a href="https://www.linkedin.com/in/your-profile" target="_blank">Your Github Profile</a></p>
    </div>
  </div>

  <div class="contact-method">
    <span class="contact-icon">
      <img src="assets/contact/phone.svg" alt="Phone Icon">
    </span>
    <div class="contact-info">
      <strong>Phone number:</strong>
      <p><a href="https://www.linkedin.com/in/your-profile" target="_blank">+1 647-313-8837</a></p>
    </div>
  </div>

  <div class="contact-method">
    <span class="contact-icon">
      <img src="assets/contact/whatsapp.svg" alt="Whatsapp Icon">
    </span>
    <div class="contact-info">
      <strong>WhatsApp:</strong>
      <p>+33 6 34 49 12 75</p>
    </div>
    <img src="assets/contact/qr_code.png" alt="WhatsApp QR Code" class="qrcode-image">
  </div>
</div>

<!--

TODO: Refactor this page using this logic:

<div class="contact-container">
  <div class="contact-method" *ngFor="let method of contactMethods">
    <span class="contact-icon">
      <img [src]="method.icon" [alt]="method.label + ' Icon'">
    </span>
    <div class="contact-info">
      <strong>{{ method.label }}:</strong>
      <p *ngIf="method.link; else showText">
        <a [href]="method.link" target="_blank">{{ method.link.includes('mailto') ? method.link.replace('mailto:', '') : method.link }}</a>
      </p>
      <ng-template #showText>{{ method.link }}</ng-template>
    </div>
    <img *ngIf="method.label === 'WhatsApp'" src="assets/contact/qr_code.png" alt="{{ method.label }} QR Code" class="qrcode-image">
  </div>
</div>

//TODO:
implement this: from page 327

<div class="p-2">
    <div class="bg-info text-white p-2">
        Selected Product: {{selectedProduct ?? '(None)'}}
    </div>
    <table class="table table-sm table-bordered">
        <tr *ngFor="let item of getProducts(); let i = index"
              [class.bg-info]="getSelected(item)">
            <td (mouseover)="selectedProduct=item.name">{{i + 1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.category}}</td>
            <td>{{item.price}}</td>
        </tr>
    </table>
</div>


-->


