.contact-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-method {
  display: flex;
  align-items: center;
  flex-direction: column; /* Adjusted to column layout */
  margin-bottom: 20px;
}

.contact-icon {
  margin-bottom: 10px; /* Added some spacing between icon and info */
}

.contact-icon img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  text-align: center; /* Center the text */
}

.qrcode-container {
  text-align: center;
}

.qrcode-image {
  width: 50%; /* Adjust the size as needed */
  margin-top: 10px; /* Added some spacing between QR code and text */
  border-radius: 20px; /* Add rounded corners */
}

/* Optional: Add styles for the "Click on the QR code to zoom in!" text */
p {
  margin-top: 5px; /* Add spacing between QR code and text */
}
