<div class="contact-container">
  <div class="contact-method">
    <span class="contact-icon">
          <img src="assets/contact/linkedIn.svg" alt="LinkedIn Icon">
    </span>
    <div class="contact-info">
      <strong>LinkedIn:</strong>
      <p><a href="https://www.linkedin.com/in/your-profile" target="_blank">Your LinkedIn Profile</a></p>
    </div>
  </div>

  <div class="contact-method">
    <span class="contact-icon">
      <img src="assets/contact/email.svg" alt="Email Icon">
    </span>
    <div class="contact-info">
      <strong>Email:</strong>
      <p><a href="mailto:alexandre.bessard@gmail.com">alexandre.bessard&amp;#64;gmail.com</a></p>
    </div>
  </div>

  <div class="contact-method">
    <span class="contact-icon">
      <img src="assets/contact/github.svg" alt="Github Icon">
    </span>
    <div class="contact-info">
      <strong>GitHub:</strong>
      <p><a href="https://www.linkedin.com/in/your-profile" target="_blank">Your Github Profile</a></p>
    </div>
  </div>

  <div class="contact-method">
    <span class="contact-icon">
      <img src="assets/contact/phone.svg" alt="Phone Icon">
    </span>
    <div class="contact-info">
      <strong>Phone number:</strong>
      <p><a href="https://www.linkedin.com/in/your-profile" target="_blank">+1 647-313-8837</a></p>
    </div>
  </div>

  <div class="contact-method">
    <span class="contact-icon">
      <img src="assets/contact/whatsapp.svg" alt="Whatsapp Icon">
    </span>
    <div class="contact-info">
      <strong>WhatsApp:</strong>
      <p>+33 6 34 49 12 75</p>
    </div>
    <img src="assets/contact/qr_code.png" alt="WhatsApp QR Code" class="qrcode-image">
  </div>
</div>
