<div class="row justify-content-md-center">
  <div class="col-12 col-md-8 col-xl-6 mb-4">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <div class="profile">
          <h2>About</h2>
          <p>
            Highly skilled and motivated professional with an extensive background in
            <span class="highlight">Java</span>,
            <span class="highlight">Cloud Computing</span>,
            <span class="highlight">Kubernetes</span>,
            <span class="highlight">Terraform</span>,
            <span class="highlight">Spring Boot</span>,
            <span class="highlight">Angular</span>.<br><br>
            My expertise lies in designing and implementing scalable and dependable cloud-based solutions,
            harnessing the capabilities of AWS services and Kubernetes orchestration to achieve optimal performance.
          </p>
          <p>
            I am proficient in crafting microservices with <span class="highlight">Spring Boot</span>
            and deploying them efficiently within AWS cloud environment.
            Additionally, I have considerable experience in <span class="highlight">Infrastructure as Code</span>,
            utilizing Terraform to automate and efficiently manage cloud infrastructure.
          </p>
          <p>
            My passion is to drive innovation and excellence in the world of technology,
            continuously seeking opportunities to tackle complex challenges and deliver solutions that make a
            <span class="highlight">significant impact</span>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
