<div class="row justify-content-md-center">

<div class="row justify-content-md-center">
  <!-- First Element -->
  <div class="col-12 col-md-8 col-xl-6 mb-4">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <div class="profile">
          <h2>Welcome</h2>
          <p>My name is Alexandre with a total of <span class="highlight">5 years of professional experience</span>
            in software development, including three years abroad in Canada, I bring a diverse skill set and a global perspective to the table.
            <br><br>
            My expertise lies in technologies such as <span class="highlight">Java, AWS, and more recently, Angular</span>.
            <br>
            These experiences have equipped me with the ability to not only architect robust applications but also to develop and deploy them efficiently.
            <br><br>
            My time in Canada has not only broadened my technical proficiency but has also enhanced my adaptability and problem-solving skills in dynamic and multicultural environments.
            <br><br>
            It would be a pleasure to be in contact and understand the <span class="highlight">challenges and problems that your organization is aiming to solve</span>.
          <br><br>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-8 col-xl-6 mb-4">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <div class="profile">
          <h2>About</h2>
          <p>
            Highly skilled and motivated professional with an extensive background in
            <span class="highlight">Java</span>,
            <span class="highlight">Cloud Computing</span>,
            <span class="highlight">Kubernetes</span>,
            <span class="highlight">Terraform</span>,
            <span class="highlight">Spring Boot</span> and
            <span class="highlight">Angular</span>.<br><br>
            As a <span class="highlight">Full Stack Developer</span> with a primary focus on Angular for front-end development,
            my expertise lies in designing and implementing scalable and dependable cloud-based solutions,
            harnessing the capabilities of AWS services and Kubernetes orchestration to achieve optimal performance.
          </p>
          <p>
            I am proficient in crafting microservices with <span class="highlight">Spring Boot</span>
            and deploying them efficiently within AWS cloud environment.
            Additionally, I have considerable experience in <span class="highlight">Infrastructure as Code</span>,
            utilizing Terraform to automate and efficiently manage cloud infrastructure.
          </p>
          <p>
            My passion is to drive innovation and excellence in the world of technology,
            continuously seeking opportunities to tackle complex challenges and deliver solutions that make a
            <span class="highlight">significant impact</span>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
