<div class="row justify-content-md-center">

<div class="row justify-content-md-center">
  <!-- First Element -->
  <div class="col-12 col-md-8 col-xl-6 mb-4">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <div class="profile">
          <h1>Welcome</h1>
          <p>
            My name is Alexandre with a total of 5 years of professional experience in software development, including 4 years abroad in Canada between these two cities: Toronto/Montreal.
          </p>
          <p>
            My expertise lies in technologies such as Java, AWS, Angular, and DevOps tools.
          </p>
          <p>
            These experiences have equipped me with the ability to not only architect robust applications but also to develop and deploy them efficiently.
          </p>
          <p>
            My time in Canada has not only broadened my technical proficiency but has also enhanced my adaptability and problem-solving skills in dynamic and multicultural environments.
          </p>
          <p>
            It would be a pleasure to be in contact and understand the challenges and problems that your organization is aiming to solve.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-8 col-xl-6 mb-4">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <div class="profile">
          <h1>About</h1>
          <p>
            Highly skilled and motivated professional with an extensive background in Java, Cloud Computing, Kubernetes, Terraform, Spring Boot, Angular, and more...
          </p>
          <p>
            As a Full Stack Developer with a primary focus on Angular for front-end and Spring/Spring Boot as backend development, my expertise lies in designing and implementing scalable and dependable cloud-based solutions, harnessing the capabilities of AWS services and Kubernetes orchestration to achieve optimal performance.
          </p>
          <p>
            I am proficient in crafting microservices with Spring Boot and deploying them efficiently within the AWS cloud environment.
          </p>
          <p>
            Additionally, I have considerable experience in Infrastructure as Code (IAC), utilizing Terraform to automate and efficiently manage cloud infrastructure.
          </p>
          <p>
            My passion is to drive innovation and excellence in the world of technology, continuously seeking opportunities to tackle complex challenges and deliver solutions that make a significant impact.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
