<div class="row justify-content-md-center">
  <div class="col-12 col-md-8 col-xl-6 mb-4" *ngFor="let project of projects">
    <div style="cursor: pointer;" (click)="detailProjectSelected(project)"
         class="card border-light shadow-sm"
         (mouseenter)="onMouseEnter()"
         (mouseleave)="onMouseLeave()"
         [ngClass]="{'hovered': hovered}">
      <div class="d-flex justify-content-center align-items-center">
        <div class="card-body">
          <div class="profile">
            <p><span class="highlight">{{ project.name }}</span></p>
            <p>{{ project.detail.briefDescription }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
