<div class="card border-light shadow-sm" style="margin-bottom: 10px" xmlns="http://www.w3.org/1999/html">
  <div class="d-flex justify-content-center align-items-center">
    <div class="card-body">
      <div class="profile">
        <p>During my career, I've adeptly employed a diverse range of technologies, such as Java, Angular, Spring, AWS, and various other tools. This comprehensive skill set, combined with proficiency in DevOps tools, has enabled me to craft resilient, scalable, and high-performance applications throughout my professional journey.</p>
      </div>
    </div>
  </div>
</div>
  <div class="row">
    <!-- Use ngFor to iterate over the technologiesContent array -->
    <div *ngFor="let technology of technologiesContent" class="col-12 col-md-4 mb-4">
      <!-- Include your component for each technology item -->
      <app-technology-item [technologyContent]="technology"></app-technology-item>
    </div>
  </div>


