.small-image-container {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px; /* Adjust the margin as needed */
}

.small-image {
  max-width: 75px; /* Adjust the max-width as needed */
  max-height: 75px; /* Adjust the max-height as needed */
  border-radius: 10%; /* Optional: creates a circular shape */
}

.small-image-text {
  font-size: 16px; /* Adjust the font size as needed */
  text-align: center;
  margin-top: 5px; /* Adjust the margin as needed */
}

/* Add this style to your existing styles or create a new styles file */
.bullet-point {
  margin-right: 8px; /* Adjust the margin as needed */
}

