<div class="row">
  <div class="col-xs-12">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <div class="profile">
          <img
            [src]="experienceContent.companyLogo"
            alt="{{ experienceContent.companyTitle }}"
            class="img-responsive"
            style="max-height: 55px;">
          <p><br>{{ experienceContent.date }}</p>
          <h5 class="bold-text">{{experienceContent.title}}</h5>
          <br>
          <div class="small-image-container">
            <img
              [src]="experienceContent.imgCountry"
              alt="Small Image"
              class="small-image"
            >
            <div class="small-image-text">{{experienceContent.city}}</div>
          </div>
        <ul class="custom-list">
          <li class="list-group-item" *ngFor="let desc of experienceContent.description">
            <span class="bullet-point">&#8226;</span> {{ desc }}<br><br>
          </li>
        </ul>
          <p>Skills: <br>
            <span *ngFor="let skill of experienceContent.skills;
            let last = last">{{ skill }}{{ !last ? ', ' : '' }}</span>
          </p>
      </div>
      </div>
    </div>
  </div>
</div>
