<div class="row">
  <div class="col-xs-12">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <div class="profile">
          <img
            [src]="experienceContent.companyLogo"
            alt="{{ experienceContent.companyTitle }}"
            class="img-responsive"
            style="max-height: 55px;">
          <p><br>{{ experienceContent.date }}</p>
          <h5 class="bold-text">{{experienceContent.title}}</h5>
          <br>
          <div class="small-image-container">
            <img
              [src]="experienceContent.imgCountry"
              alt="Small Image"
              class="small-image"
            >
            <div class="small-image-text">{{experienceContent.city}}</div>
          </div>
          <ul>
            <li *ngFor="let desc of experienceContent.description" style="margin-bottom: 20px;">
              <div>
                <h4 class="bullet-point me-3 text-success">{{ desc.key }}</h4>
                <p>{{ desc.value }}</p>
              </div>
            </li>
          </ul>
          <p>Stack used: <br>
            <span *ngFor="let skill of experienceContent.skills;
            let last = last">{{ skill }}{{ !last ? ', ' : '.' }}</span>
          </p>
      </div>
      </div>
    </div>
  </div>
</div>
