
<div class="row justify-content-md-center">
  <!-- First Element -->
  <div class="col-12 col-md-8 col-xl-6 mb-4">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <div class="text-center mb-3">
          <!-- Add an image here -->
          <h1>BTS Services Informatiques aux Organisations, Option Logicielles et Applications Metiers (SIO SLAM)</h1>
          <img
            (click)="openImageCenter('assets/diplomas/BTS_SIO.jpg')"
            src="assets/diplomas/BTS_SIO.jpg" alt="BTS SIO SLAM Image" class="img-fluid mb-3">
          <p><strong>Click on the diploma to zoom in!</strong></p>
        </div>

        <div class="profile">
          <p>The BTS SIO (Information Technology Services) degree with a specialization in SLAM (Software Solutions and Business Applications) is a diploma from the French higher education system that prepares students to perform functions in the field of information technology within organizations. This program aims to train professionals capable of designing, developing, and maintaining software solutions that meet the specific needs of businesses.</p>

          <p>The BTS SIO SLAM option focuses particularly on the development of business applications, meaning software designed to address the specific needs of a company or organization. Graduates of this program are equipped to create tailor-made applications to automate processes, manage data, or facilitate specific professional activities.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Second Element -->
  <div class="col-12 col-md-8 col-xl-6 mb-4">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <div class="text-center mb-3">
          <!-- Add an image here -->
          <h1>BTS Management des Unités Commerciales (MUC)</h1>
          <img style="margin-top: 33px"
            (click)="openImageCenter('assets/diplomas/BTS_MUC.jpg')"
            src="assets/diplomas/BTS_MUC.jpg" alt="BTS MUC Image" class="img-fluid mb-3">
          <p><strong>Click on the diploma to zoom in!</strong></p>
        </div>

        <div style="margin-top: 20px" class="profile">
          <p>The BTS Management des Unités Commerciales (Business Unit Management) is a diploma from the French higher education system that prepares students for roles in managing commercial units within organizations. This program aims to train professionals capable of overseeing and optimizing business activities, ensuring customer satisfaction, and contributing to the overall success of the organization.</p>

          <p>The BTS MUC option focuses particularly on developing skills related to commercial management, sales, customer relationship management, and marketing. Graduates of this program are equipped to handle various aspects of running a business unit, from sales strategies to customer service excellence.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row justify-content-md-center">
  <div class="col-12 col-md-8 col-xl-6 mb-4">
    <div class="card border-light shadow-sm">
      <div class="card-body">
        <div class="profile">

          <div class="container mt-4">
            <h2>Languages:</h2>

            <div class="text-center">
              <h4 class="fw-bold">English</h4>
            <!-- English Table -->
            <table class="table table-bordered mt-4">
              <thead>
              <tr>
                <th scope="col">Proficiency Level</th>
                <th scope="col">TOEIC Score in 2021</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="text-center"><span>Working proficiency plus</span></td>
                <td class="text-center">
                  <span>805/990</span>
                  <div class="progress mt-2">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                         aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 81%"></div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            </div>
            <br>
            <!-- French Table -->
            <div class="text-center">
              <h4 class="fw-bold">French</h4>
              <table class="table table-bordered mt-4">
              <thead>
              <tr>
                <th scope="col">Proficiency Level</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="text-center"><span>Native or bilingual proficiency</span></td>
              </tr>
              </tbody>
            </table>
            </div>
          </div>

        </div>
    </div>
  </div>
</div>
</div>
