<div class="card border-light shadow-sm"
     (mouseenter)="onMouseEnter()"
     (mouseleave)="onMouseLeave()"
     [ngClass]="{'hovered': hovered}"
     style="margin-bottom: 20px;">
  <a [routerLink]="[index]" routerLinkActive="active" class="card-link">
    <div class="card-body">
      <div class="profile">
        <div class="left-content">
          <div>
          <h5>{{ experienceContent.title }}</h5>
          <p>{{ experienceContent.date }}</p>
          </div>
        </div>
        <div class="right-content">
          <img [src]="experienceContent.companyLogo" alt="{{ experienceContent.companyLogo }}" class="custom-image">
        </div>
      </div>
    </div>
  </a>
</div>

